/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.docker
/.landscape
/.local
/.motd_shown
/.npm
/.pki
/.profile
/.sudo_as_admin_successful
/.vscode-server
/constants.js
/node_modules
/.aws
/.azure